body { 
  overflow-x: hidden;
  background: url(../img/background_mainpage.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html, body { height: 100%; width: 100%; margin: 0; }
.dropdown-item:hover{background-color: whitesmoke;color: #343a43 !important;}
#California:hover{background-color: rgba(0,0,0, 0.5)!important;}

#myPhoto {
    width: 300px;
    height: 300px;
  
    border:2px solid #fff;
    background: url(../img/PersonalPhoto.jpg) no-repeat;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
  }
